.fazerCurriculo h2{
    border-left: 5px double blue;
    border-bottom: 5px double blue;
    text-indent: 5px;
    color: rgb(0, 0, 145);
    margin-bottom: 20px;
}

.dadosPessoais div, .residencia div, .contatos div, .infoAdicionais div{
    display: inline-block;
    padding: 3px;
    padding-left: 4px;
    padding-right: 3px;
    margin-bottom: 35px;
}

input, select, textarea{
    width: 99%;
    border: 1px solid #ccc;
    height: 30px;
    border-radius: 4px;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.34);
    text-indent: 10px;
}

.infoAdicionais textarea{
    width: 100%;
    height: 150px;
}

.botao{
    width: 100px;
    height: 33px;
    background-color: rgb(0, 0, 145);
    color: #fff;
    border: unset;
    border-radius: 4px;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.34);
}