.faleConosco h2{
    border-left: 5px double blue;
    border-bottom: 5px double blue;
    text-indent: 5px;
    color: rgb(0, 0, 145);
}


.faleConosco form{
    padding: 10px;
}

.faleConosco p{
    color: rgb(104, 104, 104);
    padding: 10px;
}

.faleConosco form h5, .faleConosco form div{
    display: inline-block;
    font-size: 17px;
}

.assunto{
    padding-top: 15px;
}

input, select, textarea{
    width: 99%;
    border: 1px solid #ccc;
    height: 30px;
    border-radius: 4px;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.34);
    text-indent: 10px;
}

.enviar{
    padding: 10px 0 0;
}

.enviar button{
    padding: 5px 25px;
    border: 0;
    border-radius: 10px;
    color: #fff;
    background-color: rgb(0, 0, 145);
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.34);
}

.redeSocial div{
    margin-bottom: 22px;
}

.redeSocial h3{
    padding: 5px;
    border-left: 5px double blue;
    color: blue;
    margin-bottom: 35px;
}

.wpp{
    color: rgb(4, 99, 4);
}

.insta{
    color: rgb(160, 54, 160);
}

.twitter{
    color: rgb(49, 120, 212);
}

.facebook{
    color: blue;
}

.callCenter{
    color: black;
}

.wpp, .insta, .twitter, .facebook, .callCenter{
    border: 3px double rgb(165, 161, 161);
    padding: 10px;
}

.wpp span, .insta span, .twitter span, .facebook span, .callCenter span{
    color: rgb(104, 104, 104);
}

.wpp, .insta, .twitter, .facebook, .callCenter{
    padding: 10px 15px;
    font-size: 20px;
    margin: 37px;
}
