article{
    text-align: justify;
}

.emprego, .curriculo, .corona, .publi{
    display: block;
    padding: 10px;
    height: 34px;
    font-size: 10px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    margin: 50px 5px 5px 0;
}

.emprego{
    width: 55%;
    background-color: rgb(79, 163, 231);
}

.emprego:hover{
    background-color: rgb(8, 39, 65);
    color: #fff;
}

.curriculo{
    width: 75%;
    background-color: rgb(200, 116, 240);
}

.curriculo:hover{
    background-color: rgb(70, 20, 94);
    color: #fff;
}

.corona{
    width: 70%;
    background-color: rgb(70, 165, 58);
}

.corona:hover{
    background-color: rgb(22, 88, 13);
    color:#fff;
}

.publi{
    width: 45%;
    background-color: yellow;
    color: black;
}

.letreiro{
    padding: 17px;
    color: rgb(62, 127, 201);
    font-size: 12px;
    margin: 30px 0 30px 0;
}

.letreiro a{
    text-decoration: none;
}

.ler{
    color: rgb(62, 127, 201);
    font-size: 12px;
    height: 15px;
    text-decoration: none;
}

.quadroNumeros1, .quadroNumeros2, .quadroNumeros3{
    margin-top: 45px;
    padding: 15px;
    height: 112px;
    color: #fff;
}

.numero{
    font-size: 30px;
}

.escrita {
    font-size: 25px;
}

.quadroNumeros1{
    margin-left: 30px;
    background-color: rgb(49, 115, 170);
}

.quadroNumeros2{
    margin-left: 30px;
    background-color: darkgreen;
}

.quadroNumeros3{
    margin-left: 30px;
    background-color: rgb(226, 75, 19);
}

.quadroInfol1c1, .quadroInfol1c2, .quadroInfol1c3{
    margin-left: 30px;
    margin-top: 2px;
    padding: 3px;
    height: 30px;
}

.quadroInfol1c1{
    background-color: rgb(49, 115, 170);
}

.quadroInfol1c2{
    background-color: darkgreen;
}

.quadroInfol1c3{
    background-color: rgb(226, 75, 19);
}

.quadroInfol1c1 a{
    padding: 10px 127px 6px;
}

.quadroInfol1c2 a{
    padding: 10px 105px 6px;
}

.quadroInfol1c3 a{
    padding: 10px 108px 6px;
}

.quadroInfol1c1 a, .quadroInfol1c2 a, .quadroInfol1c3 a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
}

.quadroInfol2c1, .quadroInfol2c2, .quadroInfol2c3{
    margin-left: 30px;
    margin-top: 2px;
    padding: 3px;
    height: 30px;
    background-color: rgb(252, 172, 0);
    text-transform: uppercase;
}

.quadroInfol2c1 a, .quadroInfol2c2 a{
    padding: 9px 56px 6px;
}

.quadroInfol2c3 a{
    padding: 9px 71px 6px;
}

.quadroInfol2c1 a, .quadroInfol2c2 a, .quadroInfol2c3 a, .quadroInfol3c1 a, .quadroInfol3c2 a, .quadroInfol3c3 a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
}

.quadroInfol3c1, .quadroInfol3c2, .quadroInfol3c3{
    margin-left: 30px;
    margin-top: 2px;
    padding: 3px;
    height: 30px;
    background-color: rgb(46, 201, 71);
    text-transform: uppercase;
}

.quadroInfol3c1 a{
    padding: 9px 77px 6px;
}

.quadroInfol3c2 a{
    padding: 9px 14px 6px;
}

.quadroInfol3c3 a{
    padding: 9px 58px 6px;
}
