*{
    margin:0;
    padding:0;
    font-family: "Roboto", sans-serif;
}

main{
    padding: 50px 0;
}

html{
    overflow-y: scroll;
}

nav{
    width: 100%;
    height: 101px;
    padding: 0px 1%;
    background-color:rgb(79, 163, 231);
}

.menu{
    float: right;
}

.menu span{
    color: #fff;
}

.menu a{
    text-decoration: none;
}

.menu li i{
    color: #fff;
}

.logo{
    padding: 4px;
}

.logo a{
    text-decoration: none;
}

.logo i{
    color: #fff;
}

.logo span{
    position: absolute;
    left: 185px;
    top: 25px;
    color: #fff;
    font-size: 40px;
}

nav .logo{
    width: 35px;
    height: 35px;
    display: inline-block;
    padding: 13px 0 0 88px;
}

nav ul li{
    display: inline-block;
}

ul li a{
    display: block;
    padding: 22px;
}

ul li a:hover{
    transition: 0s;
    background-color:rgb(15, 57, 92);
    color:#fff;
    border-radius: 50px;
}

ul li a span, ul li a i{
    display: block;
}

.iconeEmprego{
    padding: 0 0 1px 50px;
}

.iconeCurriculo{
    padding: 0 0 1px 19px;
}

.iconeHome{
    padding: 0 0 1px 5px;
}

.iconeFale{
    padding: 0 0 1px 28px;
}

footer{
    position: fixed;
    width: 100%;
    max-height: 30px;
    background-color: rgb(79, 163, 231);
    padding: 4px 1%;
    bottom:0;
}

footer div.suporte i{
    color: rgb(10, 143, 28);
}

footer div a{
    text-decoration: none;
    color: #fff;
}

.copyright, .suporte, .marca{
    display: inline-block;
    width: 33%;
    color:#fff;
}

.copyright{
    font-size: 12px;
}

.suporte{
    text-align: center;
    font-size: 14px;
}

.marca{
    text-align: right;
    font-size: 14px;
}