
.vagaDes, .pesquisar input{
    padding: 1px;
    text-indent: 10px;
}

.uf, .cidade{
    padding: 3px;
}

.pesquisar{
    padding-right: 0;
}

.btnPesquisar {
    padding-left: 0;
}

.btnPesquisar button{
    display: inline-block;
    border: 3px solid rgb(79, 163, 231);
    background-color: rgb(79, 163, 231);
    block-size: 29px;
    inline-size: 100%;
    color: #fff;
}

input, select, textarea{
    width: 99%;
    border: 1px solid #ccc;
    height: 30px;
    border-radius: 4px;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.34);
    text-indent: 10px;
    text-transform: uppercase;
}

.vagaEmprego {
    text-align: justify;
    margin-top: 60px;
    padding: 5px;
    border: 7px double rgb(79, 163, 231);
}

.vagaEmprego a{
    text-decoration: none;
    color: black;
}

.vagaEmprego p{
    padding-top: 10px;
    margin-bottom: 0;
}

